@model Model

@{
    ViewData["Title"] = "Добавление/редактирование марки автомобиля";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    
    <form  method="post" asp-controller="Model" asp-action="GetDataFromViewField" asp-route-id="@Model.Id">
    <table border="1">
        <tr>
            <td width="50">Имя</td>
            <td width="200"><input width="200" type="text" name="modelName" value="@Model.Name" /></td>
        </tr>
        <tr>
            <td width="50">Ид Марки</td>
            <td width="200"><input width="200" type="text" name="brandId" value="@Model.BrandId" /></td>
        </tr>
        <tr>
            <td width="300"><input type="submit" value="Сохранить" /></td>
        </tr>
    </table>
    </form>
</div>
